<div class="event">
<h3><%= link_to event.name, event_path(event) %></h3>
    <ul>
    <li>Date: <%= event.date %></li>
    <li>Capacity: <%= event.capacity %></li>
    <li>City: <%= event.city %></li>
  </ul>
</div>
